@font-face {
  font-family: 'Cantarell';
  src: url('Cantarell-Regular-webfont.eot'); 
  src: url('Cantarell-Regular-webfont.ttf') format('truetype'),
       url('Cantarell-Regular-webfont.svg') format('svg');
}

.grid-container {
  padding: 50px;
}

.inputbox {
  margin-left:20px;
}

h1,h3,.forgotpassword,.navbar-menu,#heading {
  font-family: 'Cantarell';
}

.profileimage {
  width: 300px !important;
  height: auto;
  margin: 0 auto;
}

.navbar-menu {
  line-height: 150% !important;
}

.inline-label {
 margin-top: 0 !important; 
}

.card-divider {
  width: 100%;
  margin: 0 auto;
}

h3.home {
  text-align: center;
}