---
name: findfriends
url: /findfriends
controller: FindFriendsCtrl
---

<div class="grid-container">
  <div class="grid-block align-center text-center">
    <div class="grid-block small-12">
      <div class="grid-content">
        <h1>{{welcome}}</h1>
      </div>
    </div>
    <div class="grid-block align-spaced small-12">
      <div class="grid-block medium-6 align-center">
        <div class="grid-content">
          <input type="text" placeholder="Find by name" ng-model="query.name">
        </div>
      </div>
      <div class="grid-block medium-6 align-center">
        <div class="grid-content">
          <input type="text" placeholder="Find by Email" ng-model="query.email">
        </div>
      </div>
    </div>
    <div class="grid-block vertical medium-horizontal">
      <div class="grid-content  small-12 medium-4 align-center" ng-repeat="friend in allUsers | filter : query">
        <friend-card ng-if="allUsers.length" user={{friend}}>
        </friend-card>
        <a class="button" ng-click="addFriend(friend._id, $index)">Add Friend</a>
      </div>
    </div>
  </div>
</div>
