---
name: home
url: /
animationIn: fadeIn
animationOut: fadeOut
controller: HomeCtrl
---

<div class="grid-container">
  <div class="grid-content">
    <h1>{{welcome}}</h1>
  </div>
  <div class="grid-block text-center">
    <div class="grid-block">
      <div class="grid-content">
        <h3>Sign Up</h3>
        <form name="signUpEmail">
          <input type="email" placeholder="email" ng-model="email" required>
          <a class="button" ng-click="signup()" ng-class="{disabled: !email}">Sign Up!</a>
        </form>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <h3>Log In</h3>
        <form ng-submit="loginUser()">
          <input type="email" ng-model="login.email" placeholder="email" required>
          <input type="password" ng-model="login.password" placeholder="password" required>
          <a class="button" ng-click="loginUser()" ng-class="{disabled: !login.email || !login.password}">Log In</a>
        </form>
        <div class="grid-block">
          <div class="grid-content text-right">
            <a href="">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">
    <error-message type="loginError"></error-message>
  </div>


  <!-- <div class="grid-block align-center">
    <div class="card warning fadeIn shake slideOutDown" ng-show="loginError">
      <div class="card-section">
        <span class="errorMessage">Incorrect email or password</span>
      </div>
    </div>
  </div> -->
</div>
