---
name: home
url: /
animationIn: fadeIn
animationOut: fadeOut
controller: HomeCtrl
---

<div class="grid-container">
  <div class="grid-content">
    <h1>{{welcome}}</h1>
  </div>
  <div class="grid-block text-center">
    <div class="grid-block">
      <div class="grid-content">
        <h3>Sign Up</h3>
        <form>
          <input type="email" placeholder="email">
          <input type="password" placeholder="password">
          <input type="password" placeholder="confirm password">
          <a href="" class="button">Sign Up!</a>
        </form>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <h3>Log In</h3>
        <form ng-submit="loginUser()">
          <input type="email" ng-model="login.email" placeholder="email" required>
          <input type="password" ng-model="login.password" placeholder="password" required>
          <input class="button" type="submit">
        </form>
        <div class="grid-block">
          <div class="grid-content text-right">
            <a href="">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
