---
name: profile
url: /profile
controller: ProfileCtrl
---

<div class="grid-container">
  <div class="grid-block vertical">


    <div class="grid-block">
      <div class="medium-5 grid-block">
        <div class="grid-content">
          <img ng-src={{user.profilePic}}>
        </div>
      </div>
      <div class="medium-7 grid-block vertical">
        <div class="grid-block">
          <div class="grid-content text-center">
            <h1>Hey there, {{user.name}}</h1>
          </div>
        </div>
        <div class="grid-block vertical">
          <div class="grid-container">

            <div class="grid-content">
              <h3>Your Info:</h3>
            </div>

            <div class="grid-block">
              <div class="grid-content">
                <table role="grid">
                  <tbody>
                    <tr ng-repeat="field in ['name', 'email', 'phone', 'address'] track by $index">
                      <td><strong>{{field.toUpperCase()}}</strong></td>
                      <td>{{user[field]}}</td>
                      <td><a href="">Edit</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="grid-block">
      <div class="grid-content">
        <input type="text" placeholder="Search friends by name or address" ng-model="query">
      </div>
      <div class="grid-content text-right">
        <a ui-sref="findfriends" class="button radius"><strong>Find New Friends</strong></a>
      </div>
    </div>


    <div class="grid-block">
      <friend-card ng-if="friends.length" ng-repeat="friend in filterFriends(query) track by $index" user={{friend}}>
      </friend-card>
      <h1 ng-if='!filterFriends(query).length && friends.length'>No friends match your search query</h1>
      <h1 ng-if="!friends.length">You have no friends!</h1>
    </div>


  </div>
</div>
