---
name: signup
url: /signup
animationIn: fadeIn
animationOut: fadeOut
controller: SignUpCtrl
---

<div class="grid-block container">

  <div class="grid-block vertical text-center">
    <div class="grid-block">
      <div class="grid-content">
        <h1>Tell Us About Yourself! {{signup}}</h1>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">
          <img src="http://placehold.it/350x350">
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-content">
          <form>
            <input type="text" placeholder="Name">
            <input type="tel" placeholder="Phone Number">
            <input rows="2" type="text" placeholder="Address">
          </form>
        </div>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">
          <button>Upload a cool image</button>
        </div>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">
          <button>All Done!</button>
        </div>
      </div>
    </div>
  </div>
</div>
